/* 공통 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AppleSDGothicNeo;
  font-weight: 500;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  position: sticky; 
  top: 0;
  width: 100%;
  backdrop-filter: saturate(180%) blur(20px);
  background: #FAFAFC;
  z-index: 1000;
}

.logo img {
  display: inline-block;
  position: relative;
  top: 2px;
  height: 20px;
  padding: 0px 40px;
  filter: invert(56%) sepia(0%) saturate(260%) hue-rotate(28deg) brightness(93%) contrast(83%);
}
.logo:hover img, .logo:focus img {filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(243deg) brightness(105%) contrast(102%);}

ul.menu {
  display: flex;
  gap: 50px;
}

ul.menu li {
  position: relative; 
  z-index: 1;
  list-style: none;
  padding: 10px 20px;
}

ul.menu li a {
  z-index: 1;
  text-decoration: none;
  color: #838384;
  font-weight: 500;
  font-size: 16px;
}

ul.menu li a:hover, ul.menu li a:focus{
  color:  #000000;
}

ul.menu li .subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 145px;
  gap: 10px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
ul.menu li ul.subMenu::before{
  content: '';
  position: fixed; 
  top: 50px;
  left: 0;
  width: 100vw;
  height: 170px; 
  background: #FAFAFC;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: -1; 
}
ul.menu li .subMenu li{
  padding: unset;
}
ul.menu li ul li a{
  z-index: 10;
  font-size: 15px;
  padding:10px 0px 0px 20px;
}
ul.menu li:hover .subMenu , ul.menu li:focus-visible .subMenu, ul.menu li:focus-within .subMenu  {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}